/*body {*/
    /*padding-top: 60px;*/
    /*padding-bottom: 40px;*/

    /*padding-left: 0px !important;*/
    /*padding-right: 0px !important;*/
/*}*/

/*.sidebar-nav {*/
    /*padding: 9px 0;*/
/*}*/

/*@media (max-width: 767px) {*/
    /*.container-fluid {*/
        /*padding:0 20px !important;*/
    /*}*/
/*}*/

/*.navbar-fixed-top{*/
    /*margin-bottom: 0px !important;*/
/*}*/

/*.row-fluid > .sidebar-nav .sidebar-nav-fixed {*/
    /*position: relative;*/
    /*top: 0;*/
    /*left:auto;*/
    /*width: 220px;*/
/*}*/

/*.sidebar-nav-fixed {*/
    /*width:200px;*/
    /*float:left;*/
    /*padding-left: 19px !important;*/
    /*position: fixed;*/
    /*z-index: 1030;*/
    /*border: 1px solid #D5D5D5 !important;*/
    /*border-bottom-right-radius: 20px;*/
    /*height: 100%;*/
    /*border-bottom: 0px;*/
    /*border-right: 0px;*/
    /*background: -webkit-linear-gradient(top, #FAFAFA 50%, #E9E9E9 100%);*/
    /*background: -moz-linear-gradient(center top , #fafafa 0%, #e9e9e9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
/*}*/

/*.content-fixed*/
/*{*/
    /*margin: 0 0 0 240px;*/
    /*min-width: 820px;*/
/*}*/

/*.container-fixed*/
/*{*/
    /*min-width: 1040px;*/
/*}*/

/*.nav-fixed*/
/*{*/
    /*min-width: 1060px;*/
/*}*/

/*.content-tbbox-fluid*/
/*{*/
    /*clear: none !important;*/
/*}*/

/*.content_column2*/
/*{*/
    /*float:left !important;*/
/*}*/

/*#mainmenu*/
/*{*/
    /*background: initial;*/
/*}*/

/*.smena-active{*/
    /*background-color: green !important;*/
    /*text-align: center !important;*/
/*}*/
/*.smena-passive{*/
    /*background-color: red !important;*/
    /*text-align: center !important;*/
/*}*/
/*.text-center*/
/*{*/
/*text-align: center !important;*/
/*}*/

/*.text-right*/
/*{*/
    /*text-align: right !important;*/
/*}*/

/*.bootstrap-widget-header{*/
    /*overflow: visible !important;*/
    /*border-bottom-left-radius: 20px !important;*/
    /*border-bottom-right-radius: 0px !important;*/
    /*border-top-right-radius: 0px !important;*/
    /*border-top-left-radius: 0px !important;*/
    /*border-right: 0px !important;*/
/*}*/

/*.bootstrap-widget-content{*/
    /*border:0px !important;*/
    /*padding-right: 0px !important;*/
    /*padding-left: 0px !important;*/
/*}*/

/*.login-input*/
/*{*/
    /*margin:0 !important;*/
    /*min-width: 245px !important;*/
/*}*/

/*.form-signin {*/
    /*margin-top: 40px !important;*/
    /*background-color: #fff;*/
    /*border: 1px solid #e5e5e5;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);*/
    /*margin: 0 auto 20px;*/
    /*max-width: 300px;*/
    /*padding: 19px 29px 9px;*/
/*}*/

/*.form-inside*/
/*{*/
    /*width: 100% !important;*/
/*}*/

/*#content{*/
    /*overflow: overlay;*/
/*}*/


/*   design  */
/*.navbar-inner{*/
    /*background: rgb(186,221,187) !important; *//**//* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(186,221,187,1) 0%, rgba(53,255,132,1) 100%) !important; *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,221,187,1)), color-stop(100%,rgba(53,255,132,1))) !important; *//**//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(186,221,187,1) 0%,rgba(53,255,132,1) 100%) !important; *//**//* Chrome10+,Safari5.1+ */

    /*background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 24%,#b4e391 100%) !important; *//* Chrome10+,Safari5.1+ */


    /*background: -o-linear-gradient(top, rgba(186,221,187,1) 0%,rgba(53,255,132,1) 100%) !important; *//**//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(186,221,187,1) 0%,rgba(53,255,132,1) 100%) !important; *//**//* IE10+ */
    /*background: linear-gradient(to bottom, rgba(186,221,187,1) 0%,rgba(53,255,132,1) 100%) !important; *//**//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baddbb', endColorstr='#35ff84',GradientType=0 ) !important; *//**//* IE6-9 */

    /*border: 0px !important;*/
/*}*/

/*#content*/
/*{*/
    /*padding:0 !important;*/
/*}*/

/*.nav-text*/
/*{*/
    /*margin-top:20px !important;*/
    /*background-color:  transparent !important;*/
    /*color: green !important;*/
    /*line-height: inherit !important;*/
    /*text-shadow: none !important;*/
/*}*/

/*#page{*/
    /*border: 0 !important;*/
    /*padding-left: 0px !important;*/
    /*padding-right: 0px !important;*/
    /*margin-top: 70px !important;*/
/*}*/

/*.text-green a {*/
    /*color: green !important;*/
/*}*/

/*.text-gray a{*/
    /*color: #808080 !important;*/
/*}*/

/*#content > a{*/
    /*color: #808080 !important;*/
/*}*/

/*.row-breadcrumbs {*/
    /*background-color: #5b8e3f;*/
    /*position: fixed;*/
    /*z-index: 1030;*/
    /*top: 80px;*/
    /*padding-left: 20px;*/
    /* line-height: 30px !important; */
    /* min-height: 40px !important; */
    /*color: #fff !important;*/
/*}*/
/*.breadcrumbs, .breadcrumbs > a{*/
    /*color:#FFFAE6 !important;*/
/*}*/

/*.breadcrumbs {*/
    /*line-height: 30px;*/
    /*vertical-align: middle;*/
/*}*/

/*.nav-fixed > .navbar-inner > .container {*/
    /*width: auto !important;*/
    /*margin-left: 40px !important;*/
    /*margin-right: 40px !important;*/
/*}*/

/*.brand{*/
    /*margin-left: 20px !important;*/
/*}*/

/* Меню кнопки сверху */
/*.bootstrap-toolbar{*/
    /*padding-right: 20px !important;*/
    /*margin-right: 0px !important;*/
/*}*/

/*.form-content{*/
    /*margin-right: 20px !important;*/
    /*margin-left: 20px !important;*/
/*}*/

/*.nav-list > li :not(.nav-header)*/
/*{*/
    /*color: #5bb75b !important;*/
    /*font-weight: 600;*/
    /*font-size: 13px;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold !important;*/
    /*text-decoration: underline !important;*/
    /*font-size: 13px !important;*/
/*}*/

/*.nav-header*/
/*{*/
    /*color: #1f3e1e !important;*/
    /*font-weight: 600 !important;*/
    /*font-size: 13px !important;*/
    /*font-weight: bold !important;*/
    /*text-decoration: underline !important;*/
/*}*/

/*.nav.nav-list > li.dropdown.active.open > a,*/
/*.nav.nav-list > li.dropdown.active.open > ul.dropdown-menu a:hover,*/
/*.nav.nav-list > li.dropdown.open > a,*/
/*.nav.nav-list > li.dropdown.open > ul.dropdown-menu a:hover,*/
/*.nav.nav-list > li.dropdown.open > ul.dropdown-menu > li > a:hover*/
/*{*/
    /*color: #000 !important;*/
    /*background-color: #dddddd !important;*/
    /*border-color: #fff !important;*/
/*}*/

/*.search-form {*/
    /*background-color: inherit !important;*/
/*}*/

/*.btn-success{*/
    /*background-image: linear-gradient(to bottom, #95c83f, #94C83F) !important;*/
    /*text-transform: uppercase;*/
    /*font-weight: 600 !important;*/
/*}*/

/*.bootstrap-widget-header, .bootstrap-widget-header > h3, .btn-login {*/
    /*text-transform: uppercase;*/
    /*font-weight: 600 !important;*/
    /*color: #fffffd !important;*/
/*}*/

/*thead tr:first-child,*/
/*thead > tr > th > a {*/
    /*background-color: #cbcbc9 !important;*/
    /*color: #1f3e1e !important;*/
    /*text-transform: uppercase !important;*/
    /*font-weight: 600 !important;*/
/*}*/





/***************************************/
/*TODO nav header btn fix */

/*.bootstrap-widget-header > .icon-home{*/
    /*margin-top: 10px !important;*/
/*}*/

/*.bootstrap-widget-header > h3{*/
    /*top: 7px !important;*/
/*}*/

/*.bootstrap-widget-header{*/
    /*padding-top: 0px !important;*/
    /*padding-bottom: 0px !important;*/
    /*min-height: 40px !important;*/
/*}*/
/*____________________________________*/

/*.Zay_form-marginL5*/
/*{*/
    /*margin-left: 6px !important;*/
/*}*/
/*.Zay_form*/
/*{*/
    /*background-color: #E1E4DB !important;*/
    /*border-bottom-right-radius:10px;*/
    /*border-bottom-left-radius:10px;*/
/*}*/
/*.Zay_header1*/
/*{*/
    /*background: #1EDF4B;*/
    /*padding-left:40px !important;*/
    /*height: 30px;*/
    /*border-top-right-radius:5px;*/
    /*border-top-left-radius:5px;*/
    /*border-bottom-width: 0px !important;*/
    /*vertical-align: middle !important;*/
    /*padding-top: 10px;*/
/*}*/

/*.Zay_form-marginL20*/
/*{*/
    /*max-width: 29px !important;*/
/*}*/

/*.Zheader*/
/*{*/
    /*background: #B1C1B5;*/
    /*padding-top: 10px;*/
/*}*/

/*.paddingL12*/
/*{*/
    /*padding-right: 12px !important;*/
/*}*/

/*.Zcontainer{*/
    /*width: 880px !important;*/
    /*min-height: 800px !important;*/
    /*margin-left: 0px !important;*/
    /*margin-right: 0px !important;*/
/*}*/

/*.modal-body{*/
    /*max-height: 500px !important;*/
/*}*/

/*.Zmodal{*/
    /*width:880px !important;*/
    /*max-height:900px !important;*/
    /*margin-left:-450px !important;*/
/*}*/

/*.modal-body{*/
    /*padding: 0px !important;*/
/*}*/
/*.parent_body, .children_body{*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
/*}*/

/*TODO !!!!!!!*/
/*.check {*/
    /*min-height: 15px !important;*/
/*}*/












/*.main_menu > .thumbnails{*/
    /*margin-top: 0px;*/
    /*padding-top: 15px;*/
/*}*/

/*.main_menu {*/
    /*min-height: 35px !important;*/
/*}*/

/*.thumbnails {*/
    /*text-align:center;*/
    /*margin-left: 0px !important;*/
    /*padding-left: 0px !important;*/
/*}*/
/*.thumbnails > li > .main_menu_item {*/
    /*display: inline-block;*/
    /*float: none;*/
    /*background-color: rgba(246, 246, 246, 0.90);*/
/*}*/

/*.main_menu_item > a, .main_menu_item > a:hover{*/
    /*text-decoration: none;*/
/*}*/

/*@media (min-width: 979px) {*/
    /*.main_menu > .thumbnails{*/
        /*position: absolute !important;*/
        /*top: 120px !important;*/
    /*}*/
    /*.thumbnails > li > .main_menu_item:last-child{*/
        /*margin-right: 0px !important;*/
    /*}*/
    /*.main_menu_item{*/
        /*margin-right: 30px !important;*/
    /*}*/
/*}*/

/*.thumbnails > .span12 {*/
    /*margin-left: 0px !important;*/
/*}*/

/*.main_menu_item{*/
    /*min-width: 150px !important;*/
    /*margin-right: 0px;*/
    /*min-width: 200px !important;*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/

    /*background: -moz-linear-gradient(top,  rgba(108,175,59,0.43) 0%, rgba(108,175,59,0.38) 30%, rgba(130,157,109,0.31) 71%, rgba(145,145,145,0) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(108,175,59,0.43)), color-stop(30%,rgba(108,175,59,0.38)), color-stop(71%,rgba(130,157,109,0.31)), color-stop(100%,rgba(145,145,145,0))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(108,175,59,0.43) 0%,rgba(108,175,59,0.38) 30%,rgba(130,157,109,0.31) 71%,rgba(145,145,145,0) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(108,175,59,0.43) 0%,rgba(108,175,59,0.38) 30%,rgba(130,157,109,0.31) 71%,rgba(145,145,145,0) 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(108,175,59,0.43) 0%,rgba(108,175,59,0.38) 30%,rgba(130,157,109,0.31) 71%,rgba(145,145,145,0) 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(108,175,59,0.43) 0%,rgba(108,175,59,0.38) 30%,rgba(130,157,109,0.31) 71%,rgba(145,145,145,0) 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6caf3b', endColorstr='#00919191',GradientType=0 ); *//* IE6-9 */
/*}*/

/*.th-season-active{*/
    /*border-color: #3a8d59 !important;*/
/*}*/

/*@media (max-width: 767px) {*/
    /*.content_camps{*/
        /*padding-left: 5px;*/
    /*}*/
/*}*/

/*.main_menu_img{*/
    /*width: 64px;*/
    /*height: 64px;*/
/*}*/

/*.media.media_item{*/
    /*margin-top: 15px !important;*/
/*}*/

/*.media{*/
    /*margin-top: 0px !important;*/
/*}*/

/*.menu_item_header{*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
/*}*/


/*.form-actions{*/
    /*clear: both;*/
/*}*/





/*.tabs_custom > .nav-tabs {*/
    /*margin-right: 0px !important;*/
    /*border-right: 0px !important;*/
    /*padding-top: 10px !important;*/
/*}*/

/*.tabs_custom > .tab-content > .tab-pane {*/
    /*min-height: 220px !important;*/
/*}*/

/*.tabs_custom > .nav-tabs > .active > a*/
/*{*/
    /*background: #f6f9ee !important;*/
    /*border-bottom: 1px solid #cfe0a1 !important;*/
    /*border-top: 1px solid #cfe0a1 !important;*/
    /*border-left: 1px solid #cfe0a1 !important;*/
    /*border-right: none !important;*/
 /*}*/

/*.tabs_custom > .nav-tabs > li:not([class="active"])  a:hover,*/
/*.tabs_custom > .nav-tabs > li:not([class="active"])  a:focus{*/
    /*background: transparent !important;*/
    /*border: none !important;*/
/*}*/

/*.tabs_custom > .nav-tabs > .active{*/
    /*font-weight: bold;*/
/*}*/

/*.tabs_custom > .nav-tabs > li:not([class="active"]){*/
    /*text-decoration: underline !important;*/
/*}*/

/*.tabs_custom > .tab-content {*/
    /*padding-left: 19px !important;*/
    /*background: #f6f9ee !important;*/
    /*border: 1px solid #cfe0a1 !important;*/
    /*border-radius: 5px !important;*/
/*}*/

/*.table_custom th{*/
    /*color: #e7ffe5;*/
    /*background: #3b6a36;*/
/*}*/

/*.tabs_custom textarea, .tabs_custom input[type="text"]{*/
    /*color: green !important;*/
    /*font-weight: bold !important;*/
/*}*/

/*.table_custom .sort-link{*/
    /*background: none !important;*/
    /*color: white !important;*/
/*}*/

/*.table_custom_bordered table{*/
    /*border-color: red !important ;*/
    /*background: #f6f9ee !important;*/
/*}*/





/*.custom_fields > .field{*/
    /*border: 1px solid #acaca9;*/
    /*border-style: dashed;*/
    /*background: #ffffff;*/
    /*margin-bottom: 10px*/
/*}*/


body{
    padding: 0 !important;
    margin: 0 !important;
    background: url("http://www.science-education.ru/images/ny2011.jpg") no-repeat scroll 50% 0 transparent !important;
    background: url("http://www.science-education.ru/images/back5.jpg") no-repeat scroll 50% 0 transparent !important;
    background-color: #c8e2f6 !important
}

.container_main{
    width:1000px !important;
}

.row_header{
    min-height: 100px;
}

#content, .row-breadcrumbs{
    background-color: #fff !important;
    padding: 20px;
}

.row-breadcrumbs{
    border-bottom: 1px solid black;
}

.form_search{
    width:400px !important;
    margin-left:auto;
    margin-right:auto;
}

.tech, .tech tr, .tech td{
    border: #aaa 1px dashed !important;
}

